{
  "openapi" : "3.1.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "Video API - Dubbing and Lipsync",
    "description" : "REST API for Transcription, Dubbing and Lipsync for enterprise usage"
  },
  "servers" : [ {
    "url" : "https://audio-video-api.adobe.io",
    "description" : "Production environment"
  }, {
    "url" : "https://audio-video-api-stage.adobe.io",
    "description" : "Staging environment"
  } ],
  "security" : [ {
    "AccessToken" : [ ],
    "X-Api-Key" : [ ]
  } ],
  "paths" : {
    "/beta/transcribe" : {
      "post" : {
        "summary" : "Transcribe media",
        "description" : "Generates transcripts for the input audio or video.",
        "operationId" : "transcribe",
        "requestBody" : {
          "description" : "Transcribe request body.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TranscribeRequest"
              },
              "examples" : {
                "AudioInputToGenerateTranscriptFromSourceAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromSourceAudio"
                },
                "AudioInputToGenerateTranscriptFromTargetLanguageAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromTargetLanguageAudio"
                },
                "VideoInputToGenerateTranscriptFromSourceVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromSourceVideo"
                },
                "VideoInputToGenerateTranscriptFromTargetLanguageVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromTargetLanguageVideo"
                }
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobStatusLinkResponse"
                },
                "examples" : {
                  "TranscribeResponse" : {
                    "$ref" : "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyBadRequest" : {
                    "$ref" : "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyUnauthorized" : {
                    "$ref" : "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyForbidden" : {
                    "$ref" : "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "ErrorBodyResourceNotFound" : {
                    "$ref" : "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyMethodNotAllowed" : {
                    "$ref" : "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
