{
  "openapi" : "3.1.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "Video API - Dubbing and Lipsync",
    "description" : "REST API for Transcription, Dubbing and Lipsync for enterprise usage"
  },
  "servers" : [ {
    "url" : "https://audio-video-api.adobe.io",
    "description" : "Production environment"
  }, {
    "url" : "https://audio-video-api-stage.adobe.io",
    "description" : "Staging environment"
  } ],
  "security" : [ {
    "AccessToken" : [ ],
    "X-Api-Key" : [ ]
  } ],
  "paths" : {
    "/beta/transcribe" : {
      "post" : {
        "summary" : "Transcribe media",
        "description" : "Generates transcripts for the input audio or video.",
        "operationId" : "transcribe",
        "requestBody" : {
          "description" : "The transcribe request body contains either an audio input or a video input to be transcribed.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TranscribeRequest"
              },
              "examples" : {
                "AudioInputToGenerateTranscriptFromSourceAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromSourceAudio"
                },
                "AudioInputToGenerateTranscriptFromTargetLanguageAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromTargetLanguageAudio"
                },
                "VideoInputToGenerateTranscriptFromSourceVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromSourceVideo"
                },
                "VideoInputToGenerateTranscriptFromTargetLanguageVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromTargetLanguageVideo"
                }
              }
            }
          }
        }
      }
    }
  }
}
