{
  "openapi" : "3.1.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "Video API - Dubbing and Lipsync",
    "description" : "REST API for Transcription, Dubbing and Lipsync for enterprise usage"
  },
  "servers" : [ {
    "url" : "https://audio-video-api.adobe.io",
    "description" : "Production environment"
  }, {
    "url" : "https://audio-video-api-stage.adobe.io",
    "description" : "Staging environment"
  } ],
  "security" : [ {
    "AccessToken" : [ ],
    "X-Api-Key" : [ ]
  } ],
  "paths" : {
    "/beta/transcribe" : {
      "post" : {
        "summary" : "Transcribe media",
        "description" : "Generates transcripts for the input audio or video.",
        "operationId" : "transcribe",
        "requestBody" : {
          "description" : "Transcribe request body.",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TranscribeRequest"
              },
              "examples" : {
                "AudioInputToGenerateTranscriptFromSourceAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromSourceAudio"
                },
                "AudioInputToGenerateTranscriptFromTargetLanguageAudio" : {
                  "$ref" : "#/components/examples/AudioInputToGenerateTranscriptFromTargetLanguageAudio"
                },
                "VideoInputToGenerateTranscriptFromSourceVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromSourceVideo"
                },
                "VideoInputToGenerateTranscriptFromTargetLanguageVideo" : {
                  "$ref" : "#/components/examples/VideoInputToGenerateTranscriptFromTargetLanguageVideo"
                }
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobStatusLinkResponse"
                },
                "examples" : {
                  "TranscribeResponse" : {
                    "$ref" : "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyBadRequest" : {
                    "$ref" : "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyUnauthorized" : {
                    "$ref" : "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyForbidden" : {
                    "$ref" : "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "content" : {
              "application/json" : {
                "examples" : {
                  "ErrorBodyResourceNotFound" : {
                    "$ref" : "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorBody"
                },
                "examples" : {
                  "ErrorBodyMethodNotAllowed" : {
                    "$ref" : "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          }
        }
      }
    }
    "/beta/dub" : {
      "post": {
        "summary": "Perform dub on audio or video input",
        "description": "Generates dubbed video or audio for input media with/without lipsync.",
        "operationId": "dub",
        "requestBody": {
          "description": "Dub request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DubRequest"
              },
              "examples": {
                "DubRequestUsingAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAutoTranslatedTranscripts"
                },
                "DubRequestUsingAudioAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAudioAutoTranslatedTranscripts"
                },
                "DubRequestUsingEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedSourceTranscript"
                },
                "DubRequestUsingAudioEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedSourceTranscript"
                },
                "DubRequestUsingEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedTranslatedTranscript"
                },
                "DubRequestUsingAudioEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedTranslatedTranscript"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                },
                "examples": {
                  "DubResponse": {
                    "$ref": "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  },
                  "ValidationErrorVideoSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorVideoSourceBlank"
                  },
                  "ValidationErrorAudioSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorAudioSourceBlank"
                  },
                  "ValidationErrorInputSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorInputSourceBlank"
                  },
                  "ValidationErrorVideoAndAudioSimultaneous": {
                    "$ref": "#/components/examples/ValidationErrorVideoAndAudioSimultaneous"
                  },
                  "ValidationErrorVideoInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorVideoInputMediaTypeMissing"
                  },
                  "ValidationErrorAudioInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorAudioInputMediaTypeMissing"
                  },
                  "ValidationErrorSourceUrlEmpty": {
                    "$ref": "#/components/examples/ValidationErrorSourceUrlEmpty"
                  },
                  "ValidationErrorInvalidVideoAudioSourceUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidVideoAudioSourceUrl"
                  },
                  "ValidationErrorInvalidTranscriptUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidTranscriptUrl"
                  },
                  "ValidationErrorUnsupportedVideoMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedVideoMediaType"
                  },
                  "ValidationErrorUnsupportedAudioMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedAudioMediaType"
                  },
                  "ValidationErrorUnsupportedTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedTargetLocaleCode"
                  },
                  "ValidationErrorMissingTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorMissingTargetLocaleCode"
                  },
                  "ValidationErrorLocaleCodeNotRequiredForEditedTranscript": {
                    "$ref": "#/components/examples/ValidationErrorLocaleCodeNotRequiredForEditedTranscript"
                  },
                  "ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired": {
                    "$ref": "#/components/examples/ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
